@use 'src/variables.scss' as v;

.section {
  height: auto;
  padding:  0 2rem;
    .title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 3rem;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      background: #FFFFFF;
      border: 1px solid #74A3FF;
      border-radius: 6px;

      .location {
        display: flex;
        flex-direction: column;
        width: 20rem;
          p:nth-of-type(1) {
            font-size: 1.1rem;
          }
      }
      .brands {
        display: flex;
        position: relative;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 9rem;
        border: 1px black solid;
        border-radius: 0.3rem;
        padding: 0.3rem;

        .tooltip {
          position: relative;
          display: inline-block;
          cursor: pointer;
          width: inherit;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

        }
        .tooltiptext { 
          visibility: hidden;
          width: auto;
          background-color: black;
          color: #fff;
          text-align: center;
          padding: 0.5rem;
          border-radius: 2rem;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 100%;    
       }
  
      }
      .brands:hover .tooltiptext {
        visibility: visible;
    }
   }
}

