<!--<div class="container">-->
<!--  <h1 class="header">Warehouse List</h1>-->

    <div class="section">
      <h3 class="title">Warehouse List</h3>

    <div class="item"  *ngFor="let warehouse of warehouses">
      <div class="location">
        <p> {{ warehouse.location }}</p>
        <p> {{ warehouse.address }} </p>
      </div>
      <div class="capacity">
      <p id="capacityData">Cap.: {{ warehouse.capacity }}/1000 </p>
      </div>

        <div class="icon">
          <div *ngIf="warehouse.enabled" ><i class="ti-check"></i></div>
          <div *ngIf="!warehouse.enabled"><i class="ti-close"></i></div>
        </div>
<!--        <div class="icon"></div>-->
      </div>
    </div>
<app-new-store></app-new-store>
<app-shops-list></app-shops-list>
<!--</div>-->


