//@use 'src/variables.scss' as v;

.section {
  width: 50%;
  height: 400px;
  padding: 0 0.2rem;
  .title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    background: #FFFFFF;
    border: 1px solid #74A3FF;
    border-radius: 6px;
    .location {
      display: flex;
      flex-wrap: wrap;
      .city {
        width: 100%;
      }
    }
    .capacity {}
    .icon {
      height: 24px;
      width: 24px;
      //background-image: url("../../../src/assets/img/checkmark.png");
    }
  }
}
