<!-- <p>new-warehouse works!</p>

<div class="form-main">
    <p>Add Warehouse</p>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form">
                <div>
                    <label for="location"> Location (city) </label>
                    <input 
                    type="text" 
                    id="location" 
                    class="form-control"
                    name="location"
                    ngModel
                    required>
                </div>
                <div>
                    <label for="address"> Address </label>
                    <input 
                    type="text" 
                    id="address" 
                    class="form-control"
                    name="address"
                    ngModel
                    required
                    >
                </div>
                <div>
                    <label for="capacity"> Capacity </label>
                    <input 
                    type="number" 
                    id="capacity" 
                    class="form-control"
                    name="capacity"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$"
                    >
                </div>
                <div>
                    <label> Enabled <input type="checkbox" id="enabled" name="enabled" value="enabled" ngModel checked>  </label>   
                </div>
                <div>
                    <button 
                    class="button" 
                    type="submit"
                    [disabled]="!form.valid"
                    > Add </button>
                </div>
            </div>
        </form>
    </div> -->
    <div class="section">
        <h3 class="title">Add Warehouse</h3>
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                    <div class="form-group">
                        <label for="location" class="form-label"> Location (city) </label>
                        <input
                        class="form-input" 
                        type="text" 
                        id="location" 
                        name="location"
                        ngModel
                        required>
                    </div>
                    <div class="form-group">
                        <label for="address" class="form-label"> Address </label>
                        <input
                        class="form-input" 
                        type="text" 
                        id="address" 
                        name="address"
                        ngModel
                        required
                        >
                    </div>
                    <div class="form-group">
                        <label for="capacity" class="form-label"> Capacity </label>
                        <input
                        class="form-input" 
                        type="number" 
                        id="capacity" 
                        name="capacity"
                        ngModel
                        required
                        pattern="^[1-9]+[0-9]*$"
                        >
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Enabled <input type="checkbox" class="form-input" id="enabled" name="enabled" value="enabled" ngModel checked></label> 
                          
                    </div>
                    <div>
                        <button 
                        class="btn" 
                        type="submit"
                        [disabled]="!form.valid"
                        > Add </button>
                    </div>
            </form>
        </div>
