
<div class="section">
  <h3 class="title">Add Shop</h3>
  <form [formGroup]="newStoreForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label class="form-label" for="location">Location (city)</label>
    <input class="form-input" type="text" id="location" placeholder="Enter location of a store" formControlName="location">
    </div>
    <div class="form-group">
    <label class="form-label" for="address">Address</label>
    <input class="form-input" type="text" id="address" placeholder="Enter address of a store" formControlName="address">
    </div>

    <div>
      <p>Brands</p>
      <label class="form-label">All<input type="checkbox" formControlName="all" (change)="checkUncheckAll($event)"></label>

      <div formArrayName="brands">
          <span *ngFor="let brand of brands.controls; let i = index">
          <input type="checkbox" [formControl]="$any(brand)" id="i" [value]="Data[i].value" (change)="onCheckboxChange($event, i)">
<!--          {{ Data[i].value }}-->
          <label for="i"> {{ Data[i].name }}</label>
            </span>
      </div>



    </div>
    <button class="btn" type="submit" [disabled]="!newStoreForm.valid">Add</button>
  </form>
</div>





