$light-grey: #E6E9F0;
$grey: rgb(245, 245, 245, 0.7);
$blue: #74A3FF;


$box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 8px 8px 16px 0 rgba(0, 0, 0, 0.2), -8px -8px 16px 0 rgba(0, 0, 0, 0.2);